<div class="d-flex justify-content-center">
    <h2><%= singleMovie.title %></h2>
</div>

<p>Movie ID: <%= singleMovie.film_id %></p>
<p>Movie Title: <%= singleMovie.title %></p>
<p>Movie Description: <%= singleMovie.description %></p>
<p>Release Year: <%= singleMovie.release_year %></p>
<p>Rental rate: <%= singleMovie.rental_rate %></p>
<p>Special features: <%= singleMovie.special_features %></p>

<button type="button" class="btn btn-primary">Primary</button>